@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body{
    background: rgb(11,36,0);
    background: linear-gradient(90deg, rgba(11,36,0,1) 20%, rgba(9,9,121,1) 51%, rgba(255,0,44,1) 98%);
}

h1{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Kdam Thmor Pro', sans-serif;

}

card{
    width: 1000px;
    border: 30px;
    border-radius: 5px;
    border-color: black;
    border-width: 20px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h2{
    margin-top: 100px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

h3{
    font-family: 'Roboto Mono', monospace;
    text-transform: unset;
    text-align: center;
    color: rgb(154, 160, 166);
}

h4{
    font-size: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}